<form role='form' id='newDeck'>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input name='name' placeholder="Name" class="form-control" required type='text' value="{{name}}"></input>
                <input type="hidden" name="id" value="{{id}}" />
            </div>
        </div>
    </div>
    <div class="row form-group" id="cards">
    </div>
    <div class="row form-group">
        {{#if _id }}
            <input type="button" value="Delete" id="deleteButton" class="btn btn-danger" />
        {{/if}}
        <input type="submit" value="Save" class="btn btn-default" />
    </div>
</form>
